.background {
    background-color: #808080;
    width: 40%;
    min-height: 500px;
}

.square {
    background-color: #fea500;
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-bottom: 7px;
}

.text {
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}