.blue-text {
    color: #0000ff;
}

.lorem-text {
    font-size: 20px;
}

.red-text {
    color: #ff0000;
    padding-top: 20px;
}

.p1 {
    color: #a42423;
    font-size: 20px;
    padding-top: 20px;
}

.p2 {
    color: #00008f;
    font-size: 20px;
    padding-top: 20px;
}
.background {
    background-color: #faebd6;
    width: 85%;
    min-height: 400px;
}

.square {
    background-color: #fea500;
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-bottom: 7px;
}

.white-text {
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}