.blue-text {
    color: #0000ff;
}

.lorem-text {
    font-size: 20px;
}

.red-text {
    color: #ff0000;
    padding-top: 20px;
}

.p1 {
    color: #a42423;
    font-size: 20px;
    padding-top: 20px;
}

.p2 {
    color: #00008f;
    font-size: 20px;
    padding-top: 20px;
}
.background {
    background-color: #f5f5dd;
    width: 300px;
    min-height: 500px;
}

.square {
    background-color: black;
    width: 100px;
    height: 100px;
    margin-top: 7px;
}

#d2 {
    background-color: rgba(0, 0, 0, 0.7);
}
#d3 {
    background-color: rgba(0, 0, 0, 0.5);
}
#d4 {
    background-color: rgba(0, 0, 0, 0.3);
}

.square-group {
    padding-top: 30px;
    width: 100px;
    margin: auto;
}

.white-text {
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}